{{> menu}}

<form class="box"  action="/trail/{{traillist._id}}/updatetrail/{{trail._id}}" method="POST">
    <label>Update Trail Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" name="name" value="{{trail.name}}">
            </div>
            <div class="field">
                <input class="input" type="number"  name="latitude" value="{{trail..latitude}}">
            </div>
            <div class="field">
                <input class="input" type="number"  name="longitude" value="{{trail.longitude}}">
            </div>
            <div class="field">
                <input class="input" type="text"  name="description" value="{{trail.description}}">
            </div>

        </div>
    </div>
    <button class="button is-primary">Update Trail</button>
</form>